<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <style>
        @media print {
            .page-break {
                page-break-before: always;
            }
        }
    </style>
</head>

<body>

    <!-- <tr>
        <td colspan="3" style="padding: 0;">
      
          {% set einvoice = frappe.db.get_value("e-Invoice Log", {"reference_name": doc.name}, ["acknowledgement_number", "acknowledged_on", "signed_qr_code"], as_dict=True) %}
      
          {% if einvoice %}
            {% set ack_no = einvoice.acknowledgement_number or 'N/A' %}
            {% set ack_date = einvoice.acknowledged_on.strftime('%d-%m-%Y') if einvoice.acknowledged_on else 'N/A' %}
            
            <h6 style="margin: 0; font-size: 12px;">
              Ack No: {{ ack_no }} &nbsp;&nbsp;&nbsp; Ack Date: {{ ack_date }}
            </h6>
      
            <div style="margin-top: 5px;">
              {{ web_block('E-Invoice QR Code', values={'qr_text': einvoice.signed_qr_code}) }}
            </div>
          {% else %}
            <h6 style="margin: 0; font-size: 12px;">Ack No: N/A &nbsp;&nbsp;&nbsp; Ack Date: N/A</h6>
          {% endif %}
      
        </td>
      </tr> -->


 {% for copy in ["Original", "Duplicate", "POD", "Security"] %}
    <div class="copy-section">
        <h2 style="text-align: right ;">{{ copy }} Copy</h2>
        <!-- Header Section -->
        <div class="header">


            <img src="/files/MVD Logo1 (1).jpg" alt="Left Image" class="left-img">

            <div style="margin: 20px 5px 0 0;" class="right-img">
                {{ web_block('E-Invoice QR Code', values={'qr_text': einvoice.signed_qr_code}) }}
            </div>

            <img src="/files/MVD Logo.jpg" alt="Right Image" class="right-img">
            <div class="company-details">
                <h4>Delivery Note </h4>
                <!--<h4>{{ doc.qr_code }}</h4>-->
                <h5><strong>{{doc.company}}</strong></h5>

                {% set company_details = frappe.db.get_value("Company", {"company_name": doc.company},
                ["custom_address_1st_line", "custom_address_2nd_line", "gstin", "custom_state", "custom_state_code",
                "phone_no", "email"], as_dict=True) %}

                <h6 class="text-center " style="padding: 0;">Address: {{company_details.custom_address_1st_line}}</h6>
                <h6>{{company_details.custom_address_2nd_line}}</h6>
                <h6 class="text-center" style="padding: 0;">Mobile: {{company_details.phone_no}}, Email:
                    {{company_details.email}}
                </h6>
                <h6 style="padding: 0;"><strong>GST No : {{company_details.gstin}}</strong></h6>
                <h6 style="padding: 3;"><strong>State: {{company_details.custom_state}}, State Code:
                        {{company_details.custom_state_code}}</strong></h6>
            </div>

        </div>

        <!-- Purchase Receipt Details -->
        <table class="details-table">
            <tr>
                <td style="width: 30%;">
                    <h6><strong>Bill To,</strong></h6>
                    <h6><strong>{{doc.customer_name}}</strong></h6>
                    <p class="text-justify">
                    <h6>{{doc.address_display}}</h6>
                    </p>
                </td>
                <td class="text-justify" style="width: 30%;">
                   
                    <h6><strong>Place Of Supply:</strong></h6>
                    <h6>{{doc.shipping_address}}</h6>
                            </td>
                                  <td class="text-justify" style="width: 30%;">
                      <h6><strong>DN ID:</strong></h6>
                    <h6>{{doc.name}}</h6>    
                    
                      {% set fields = [doc.custom_mode_of_shipment, doc.custom_type, doc.custom_payment,
                    doc.custom_godown_name] %}
                    {% set non_empty = [] %}
                    {% for f in fields %}
                    {% if f %}
                    {% set _ = non_empty.append(f) %}
                    {% endif %}
                    {% endfor %}
                    <h6>MOS: {{ non_empty | join(' , ') }}</h6>
                
                        {% if doc.custom_lut_no %}
                    <h6>LUT No: {{ doc.custom_lut_no }}</h6>
                    {%endif%}

                            </td>

        </table>

        <!-- Items Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Description of Product</th>
                    <th>HSN Code</th>
                    <th>Qty</th>
                    <th>UOM</th>
                    <th>Rate</th>
                    <th>Discount</th>
                    <th>Tax Rate</th>
                    <th>Tax Amt</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in doc.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if item.custom_customer_part_code %}
                        <h6 style="padding: 0; line-height: 1;">{{item.custom_customer_part_code or "baN/A"}}</h6>
                        <h6 style="line-height: 1;">
                            {% else %}
                            {{ item.item_code }}
                            {% endif %}




                            {{ item.item_name}}
                        </h6>

                        <h6 style="line-height: 1;">Batch No: {{ item.batch_no }}</h6>
                    </td>
                    <td>{{ item.gst_hsn_code }}</td>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.uom }}</td>
                    <td>{{ item.rate }}</td>
                    <td>{{ item.custom_discount_percent }}</td>
                    <td>
                        {% if item.igst_rate %}
                        {{ item.igst_rate }}%
                        {% else %}
                        {{ item.cgst_rate + item.sgst_rate }}%
                        {% endif %}
                    </td>
                    <td>
                        {% if item.igst_amount %}
                        {{ item.igst_amount }}
                        {% else %}
                        {{ item.cgst_amount + item.sgst_amount }}
                        {% endif %}
                    </td>
                    <td>{{ item.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <div style="display: flex; width: 100%; align-items: flex-start;">
            <!-- Left Side: Table -->
            <div style="flex: 1; margin-right: 20px;">
                <table class="table" style="width: 100%; border-collapse: collapse; border: 1px solid #ddd;">
                    <thead>
                        <tr>
                            <th style="text-align: center;" colspan="2">CGST</th>
                            <th style="text-align: center;" colspan="2">SGST</th>
                            <th style="text-align: center;" colspan="2">IGST</th>
                            <th style="text-align: center;" colspan="2">UGST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">Rate%</td>
                            <td style="text-align: center;">AMT</td>
                            <td style="text-align: center;">Rate%</td>
                            <td style="text-align: center;">AMT</td>
                            <td style="text-align: center;">Rate%</td>
                            <td style="text-align: center;">AMT</td>
                            <td style="text-align: center;">Rate%</td>
                            <td style="text-align: center;">AMT</td>
                        </tr>

                        {% if not doc.taxes %}
                        <!-- If there are no taxes, show a row with zeros -->
                        <tr>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">0</td>
                            <td style="text-align: center;">0</td>
                        </tr>
                        {% else %}
                        <!-- Loop through taxes if the list is not empty -->
                        {% for tax in doc.taxes %}
                        <tr>
                            {% if tax.gst_tax_type == "cgst" %}
                            <td style="text-align: center;">{{ tax.rate }}</td>
                            <td style="text-align: center;">{{ tax.tax_amount }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% elif tax.gst_tax_type == "sgst" %}
                            <td></td>
                            <td></td>
                            <td style="text-align: center;">{{ tax.rate }}</td>
                            <td style="text-align: center;">{{ tax.tax_amount }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% elif tax.gst_tax_type == "igst" %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;">{{ tax.rate }}</td>
                            <td style="text-align: center;">{{ tax.tax_amount }}</td>
                            <td></td>
                            <td></td>
                            {% elif tax.gst_tax_type == "ugst" %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;">{{ tax.rate }}</td>
                            <td style="text-align: center;">{{ tax.tax_amount }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <!-- Right Side: Summary -->
            <div style="flex: 1; padding: 10px;">
                <div style="display: flex; justify-content: space-between;">
                    <strong>Sub Total</strong>
                    <span>{{doc.total}}</span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <strong>Cash Discount:</strong>
                    <span style="text-align: center;">{{doc.additional_discount_percentage}}%</span>
                    <span>{{doc.discount_amount}}</span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <strong>Total Tax</strong>




                    {% set total_tax = doc.taxes | selectattr("charge_type", "equalto", "On Net Total") |
                    map(attribute="tax_amount") | sum %}
                    {% set shipping_total = doc.taxes | selectattr("charge_type", "equalto", "Actual") |
                    map(attribute="tax_amount") | sum %}

                    <div style="display: flex; justify-content: space-between;">
                        <span>{{ total_tax }}</span>
                    </div>
                </div>

                <div style="display: flex; justify-content: space-between;">
                    <strong>Shipping Charges</strong>
                    <span>{{ shipping_total }}</span>
                </div>



                <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
                    <strong>Round off</strong>
                    <span>{{doc.rounding_adjustment}}</span>
                </div>
                <hr style="margin: 5px 0;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
                    <strong>Grand Total</strong>
                    <span>{{doc.rounded_total}}</span>
                </div>
                <hr style="margin: 5px 0;">
            </div>
        </div>



        <div class="footer">
            {% set company_details = frappe.db.get_value("Company", {"company_name": doc.company}, ["custom_bank_name",
            "custom_branch", "custom_ifsc", "custom_ac_no"], as_dict=True) %}
            <p>Total Amount (In Words): <strong>{{ doc.in_words }}</strong></p>
            <hr>

            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <div style="text-align: left;">
                    <span>Bank Name: {{company_details.custom_bank_name}}</span>
                </div>
                <div style="text-align: right;">
                    <span>A/C Number:{{company_details.custom_ac_no}} </span>
                </div>
            </div>

            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <div style="text-align: left;">
                    <span>IFSC:{{company_details.custom_ifsc}}</span>
                </div>
                <div style="text-align: right;">
                    <span>Branch:{{company_details.custom_branch}}</span>
                </div>
            </div>

            <hr>

            <div style="display: flex; flex-direction: column; align-items: flex-end; margin-bottom: 10px;">
                <span>For, {{doc.company}} <strong></strong></span>
                <br></br>
                <span>Authorised Signatory</span>
            </div>
        </div>
        {% if not loop.last %}
        <div class="page-break"></div>
        {% endif %}

        {% endfor %}

</body>

</html>